/* line 6, ../scss/agency.scss */
body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 10, ../scss/agency.scss */
.div_clear {
  clear: both;
}

/* line 14, ../scss/agency.scss */
.text-muted {
  color: #777777;
}

/* line 18, ../scss/agency.scss */
.text-primary {
  color: #337ab7;
}

/* line 22, ../scss/agency.scss */
p {
  font-size: 14px;
  line-height: 1.75;
}

/* line 27, ../scss/agency.scss */
p.large {
  font-size: 16px;
}

/* line 31, ../scss/agency.scss */
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}

/* line 39, ../scss/agency.scss */
a {
  color: #337ab7;
}

/* line 43, ../scss/agency.scss */
a:hover,
a:focus,
a:active,
a.active {
  color: #285f8f;
}

/* line 50, ../scss/agency.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 55, ../scss/agency.scss */
.img-centered {
  margin: 0 auto;
}

/* line 59, ../scss/agency.scss */
.bg-light-gray {
  background-color: #eeeeee;
}

/* line 63, ../scss/agency.scss */
.bg-darkest-gray {
  background-color: #222222;
}

/* line 69, ../scss/agency.scss */
.btn-primary {
  color: white;
  background-color: #337ab7;
  border-color: #337ab7;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 10, ../scss/_mixins.scss */
.btn-primary:focus, .btn-primary.focus {
  color: white;
  background-color: #285f8f;
  border-color: #173853;
}
/* line 16, ../scss/_mixins.scss */
.btn-primary:hover {
  color: white;
  background-color: #285f8f;
  border-color: #265a87;
}
/* line 21, ../scss/_mixins.scss */
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  color: white;
  background-color: #285f8f;
  border-color: #265a87;
}
/* line 28, ../scss/_mixins.scss */
.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus {
  color: white;
  background-color: #204d73;
  border-color: #173853;
}
/* line 36, ../scss/_mixins.scss */
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  background-image: none;
}
/* line 44, ../scss/_mixins.scss */
.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus {
  background-color: #337ab7;
  border-color: #337ab7;
}
/* line 52, ../scss/_mixins.scss */
.btn-primary .badge {
  color: #337ab7;
  background-color: white;
}

/* line 75, ../scss/agency.scss */
.btn-xl {
  color: white;
  background-color: #337ab7;
  border-color: #337ab7;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
/* line 10, ../scss/_mixins.scss */
.btn-xl:focus, .btn-xl.focus {
  color: white;
  background-color: #285f8f;
  border-color: #173853;
}
/* line 16, ../scss/_mixins.scss */
.btn-xl:hover {
  color: white;
  background-color: #285f8f;
  border-color: #265a87;
}
/* line 21, ../scss/_mixins.scss */
.btn-xl:active, .btn-xl.active, .open > .btn-xl.dropdown-toggle {
  color: white;
  background-color: #285f8f;
  border-color: #265a87;
}
/* line 28, ../scss/_mixins.scss */
.btn-xl:active:hover, .btn-xl:active:focus, .btn-xl:active.focus, .btn-xl.active:hover, .btn-xl.active:focus, .btn-xl.active.focus, .open > .btn-xl.dropdown-toggle:hover, .open > .btn-xl.dropdown-toggle:focus, .open > .btn-xl.dropdown-toggle.focus {
  color: white;
  background-color: #204d73;
  border-color: #173853;
}
/* line 36, ../scss/_mixins.scss */
.btn-xl:active, .btn-xl.active, .open > .btn-xl.dropdown-toggle {
  background-image: none;
}
/* line 44, ../scss/_mixins.scss */
.btn-xl.disabled:hover, .btn-xl.disabled:focus, .btn-xl.disabled.focus, .btn-xl[disabled]:hover, .btn-xl[disabled]:focus, .btn-xl[disabled].focus, fieldset[disabled] .btn-xl:hover, fieldset[disabled] .btn-xl:focus, fieldset[disabled] .btn-xl.focus {
  background-color: #337ab7;
  border-color: #337ab7;
}
/* line 52, ../scss/_mixins.scss */
.btn-xl .badge {
  color: #337ab7;
  background-color: white;
}

/* line 86, ../scss/agency.scss */
.navbar-custom {
  background-color: #222222;
  border-color: transparent;
}
/* line 89, ../scss/agency.scss */
.navbar-custom .navbar-brand {
  color: #337ab7;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
/* line 92, ../scss/agency.scss */
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand.active {
  color: #285f8f;
}
/* line 99, ../scss/agency.scss */
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.98);
}
/* line 102, ../scss/agency.scss */
.navbar-custom .navbar-toggle {
  background-color: #337ab7;
  border-color: #337ab7;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
/* line 108, ../scss/agency.scss */
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
  background-color: #337ab7;
}
/* line 115, ../scss/agency.scss */
.navbar-custom .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
/* line 120, ../scss/agency.scss */
.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
  color: #337ab7;
  outline: none;
}
/* line 128, ../scss/agency.scss */
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #337ab7;
}
/* line 133, ../scss/agency.scss */
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #285f8f;
}

@media (min-width: 768px) {
  /* line 141, ../scss/agency.scss */
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  /* line 148, ../scss/agency.scss */
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  /* line 154, ../scss/agency.scss */
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
@media (min-width: 768px) {
  /* line 163, ../scss/agency.scss */
  .navbar-custom.affix {
    background-color: #222222;
    padding: 10px 0;
  }
  /* line 166, ../scss/agency.scss */
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
/* line 172, ../scss/agency.scss */
header {
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}
/* line 180, ../scss/agency.scss */
header .intro-text {
  padding-top: 140px;
  padding-bottom: 50px;
}
/* line 183, ../scss/agency.scss */
header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
/* line 190, ../scss/agency.scss */
header .intro-text .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}
/* line 197, ../scss/agency.scss */
header .intro-text .intro-lead-hit {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  margin-bottom: 25px;
}
/* line 205, ../scss/agency.scss */
header#danuzi {
  margin-top: 50px;
  background-image: url("../img/danuzi_header.png");
  background-size: 320px;
}
/* line 209, ../scss/agency.scss */
header#danuzi .intro-text {
  padding-top: 0;
}

@media (min-width: 360px) {
  /* line 216, ../scss/agency.scss */
  header#danuzi {
    background-image: url("../img/danuzi_header.png");
    background-size: 360px;
  }
}
@media (min-width: 768px) {
  /* line 228, ../scss/agency.scss */
  header .intro-text {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  /* line 231, ../scss/agency.scss */
  header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  /* line 238, ../scss/agency.scss */
  header .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
  /* line 245, ../scss/agency.scss */
  header .intro-text .intro-lead-hit {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
  }
  /* line 253, ../scss/agency.scss */
  header#danuzi {
    margin-top: 0;
    background-image: url("../img/danuzi_header.png");
    background-size: 100%;
  }
  /* line 257, ../scss/agency.scss */
  header#danuzi .intro-text {
    padding-top: 170px;
    padding-bottom: 80px;
  }
}
/* line 269, ../scss/agency.scss */
section {
  padding: 50px 0 0 0;
}
/* line 271, ../scss/agency.scss */
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
/* line 276, ../scss/agency.scss */
section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}

@media (min-width: 768px) {
  /* line 287, ../scss/agency.scss */
  section {
    padding: 50px 0;
  }
}
/* line 294, ../scss/agency.scss */
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

/* line 302, ../scss/agency.scss */
#gallery .photo_thumb {
  float: left;
  margin: 10px 0;
  width: 100%;
  min-height: 200px;
  position: relative;
}
/* line 308, ../scss/agency.scss */
#gallery .photo_thumb img.resize_fit_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

@media (min-width: 768px) {
  /* line 322, ../scss/agency.scss */
  #gallery .photo_thumb {
    width: 30%;
  }
}
/* line 328, ../scss/agency.scss */
.ride_thumb_img {
  display: block;
  border: 1px solid #eee;
}
/* line 332, ../scss/agency.scss */
.ride_thumb_img img {
  width: 100%;
}

/* line 337, ../scss/agency.scss */
#tours .descr {
  min-height: 140px;
}

/* line 343, ../scss/agency.scss */
.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
/* line 347, ../scss/agency.scss */
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}
/* line 357, ../scss/agency.scss */
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
/* line 361, ../scss/agency.scss */
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}
/* line 366, ../scss/agency.scss */
.timeline > li:after {
  clear: both;
}
/* line 369, ../scss/agency.scss */
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
/* line 375, ../scss/agency.scss */
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
/* line 381, ../scss/agency.scss */
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
/* line 388, ../scss/agency.scss */
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #337ab7;
  color: white;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}
/* line 400, ../scss/agency.scss */
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
/* line 406, ../scss/agency.scss */
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
/* line 410, ../scss/agency.scss */
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
/* line 416, ../scss/agency.scss */
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
/* line 423, ../scss/agency.scss */
.timeline > li:last-child {
  margin-bottom: 0;
}
/* line 428, ../scss/agency.scss */
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
/* line 431, ../scss/agency.scss */
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
/* line 437, ../scss/agency.scss */
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  /* line 446, ../scss/agency.scss */
  .timeline:before {
    left: 50%;
  }
  /* line 449, ../scss/agency.scss */
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  /* line 452, ../scss/agency.scss */
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  /* line 458, ../scss/agency.scss */
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  /* line 463, ../scss/agency.scss */
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  /* line 469, ../scss/agency.scss */
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  /* line 480, ../scss/agency.scss */
  .timeline > li {
    min-height: 150px;
  }
  /* line 482, ../scss/agency.scss */
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  /* line 485, ../scss/agency.scss */
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  /* line 489, ../scss/agency.scss */
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px;
  }
  /* line 495, ../scss/agency.scss */
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  /* line 504, ../scss/agency.scss */
  .timeline > li {
    min-height: 170px;
  }
  /* line 506, ../scss/agency.scss */
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  /* line 509, ../scss/agency.scss */
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  /* line 513, ../scss/agency.scss */
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  /* line 517, ../scss/agency.scss */
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}
/* line 526, ../scss/agency.scss */
.team-member {
  text-align: center;
  margin-bottom: 50px;
}
/* line 529, ../scss/agency.scss */
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}
/* line 533, ../scss/agency.scss */
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
/* line 538, ../scss/agency.scss */
.team-member p {
  margin-top: 0;
}

/* line 546, ../scss/agency.scss */
section#contact {
  background-color: #eee;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 552, ../scss/agency.scss */
section#contact .toemail {
  font-size: 20px;
}

/* line 559, ../scss/agency.scss */
footer {
  padding: 25px 0;
  text-align: center;
}
/* line 562, ../scss/agency.scss */
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
/* line 567, ../scss/agency.scss */
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}

/* line 577, ../scss/agency.scss */
ul.social-buttons {
  margin-bottom: 0;
}
/* line 580, ../scss/agency.scss */
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 593, ../scss/agency.scss */
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
  background-color: #337ab7;
}

/* line 602, ../scss/agency.scss */
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}

/* line 611, ../scss/agency.scss */
::-moz-selection {
  text-shadow: none;
  background: #337ab7;
}

/* line 616, ../scss/agency.scss */
::selection {
  text-shadow: none;
  background: #337ab7;
}

/* line 621, ../scss/agency.scss */
img::selection {
  background: transparent;
}

/* line 625, ../scss/agency.scss */
img::-moz-selection {
  background: transparent;
}

/* line 629, ../scss/agency.scss */
body {
  webkit-tap-highlight-color: #337ab7;
}

/*# sourceMappingURL=agency.css.map */
